@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Bebas+Neue&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

:root {
  --scissors-gradient: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --paper-gradient: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock-gradient: linear-gradient(to top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --lizard-gradient: linear-gradient(to top, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --cyan: linear-gradient(to top, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  --rock-side: 0 5px rgb(160, 1, 1);
  --paper-side: 0 5px rgb(48, 48, 187);
  --scissors-side: 0 5px rgb(170, 131, 34);
  --inner-shadow: inset 2px 5px #0003;
  --rock-side-result: 0 5px rgb(160, 1, 1);
  --paper-side-result: 0 5px rgb(48, 48, 187);
  --scissors-side-result: 0 5px rgb(170, 131, 34);
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --dark-blue: hsl(238, 40%, 17%);
  --main-bg: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  --button-size: 130px;
  --button-border: 15px;
  --triangle-size: 220px;
}

body {
  background: var(--main-bg);
  padding: 2em;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

body button {
  -webkit-tap-highlight-color: transparent;
}

body main .head {
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-radius: 7px;
  border: 3px solid var(--header-outline);
  padding: .8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .head .mode {
  list-style: none;
}

body main .head .mode p {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: .8;
}

body main .head .score-container {
  background: white;
  padding: .7em 1.7em;
  border-radius: 5px;
  position: relative;
  cursor: default;
}

body main .head .score-container #reset {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #d1d1d1;
  border: none;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  padding: .2em;
  font-size: .7rem;
  border-radius: 50%;
  color: var(--dark-text);
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  opacity: 0;
}

body main .head .score-container #reset:focus {
  opacity: 1;
}

body main .head .score-container:hover #reset {
  opacity: 1;
}

body main .head .score-container h2 {
  font-size: .7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--score-text);
  font-weight: 700;
}

body main .head .score-container .score {
  font-weight: 800;
  font-size: 3.5rem;
  text-align: center;
  display: block;
  line-height: .8;
  color: var(--dark-text);
}

body main .shape {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 8em auto;
  position: relative;
}

body main .shape > img {
  width: var(--triangle-size);
}

body main .shape .container {
  position: absolute;
}

body main .shape .container button {
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  transition: transform .15s;
  transition: transform .15s, -webkit-transform .15s;
}

body main .shape .container button:hover, body main .shape .container button:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  outline: none;
}

body main .shape .container button .inner {
  position: absolute;
  inset: var(--button-border);
  background: white;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: var(--inner-shadow);
          box-shadow: var(--inner-shadow);
}

body main .shape .paper-container {
  top: 0;
  left: 0;
  -webkit-transform: translate(-40%, -40%);
          transform: translate(-40%, -40%);
}

body main .shape .paper-container button {
  background: var(--paper-gradient);
  -webkit-box-shadow: var(--paper-side);
          box-shadow: var(--paper-side);
}

body main .shape .scissors-container {
  top: 0;
  right: 0;
  -webkit-transform: translate(40%, -40%);
          transform: translate(40%, -40%);
}

body main .shape .scissors-container button {
  background: var(--scissors-gradient);
  -webkit-box-shadow: var(--scissors-side);
          box-shadow: var(--scissors-side);
}

body main .shape .rock-container {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 30%);
          transform: translate(-50%, 30%);
}

body main .shape .rock-container button {
  background: var(--rock-gradient);
  -webkit-box-shadow: var(--rock-side);
          box-shadow: var(--rock-side);
}

main .rules {
  padding: .4em 0;
  width: 100px;
  background: none;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 1.2rem;
  opacity: .8;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

main .rules:hover {
  background-color: #fff1;
}

main .modal {
  position: absolute;
  background: white;
  inset: 0;
  padding: 2em 0;
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, opacity .3s ease;
  transition: transform .3s ease, opacity .3s ease, -webkit-transform .3s ease;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main .modal .wrapper {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main .modal .wrapper h2 {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--dark-text);
}

main .modal .wrapper > img {
  margin: 3em 0;
}

main .modal .wrapper #close {
  border: none;
  background: none;
  width: 30px;
  cursor: pointer;
}

main .modal .wrapper #close img {
  width: 100%;
}

main .result-container {
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin: 7em auto;
  position: relative;
}

main .result-container .result {
  width: 40%;
  text-align: center;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

main .result-container .result .base {
  width: calc(var(--button-size) - var(--button-border)*2);
  height: calc(var(--button-size) - var(--button-border)*2);
  background: var(--dark-blue);
  border-radius: 50%;
  margin: auto;
  position: relative;
}

main .result-container .result .base .pulse {
  width: 350px;
  height: 350px;
  background: #fff2;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

main .result-container .result .base.win .pulse {
  -webkit-animation: 2s pulse ease-in-out infinite;
          animation: 2s pulse ease-in-out infinite;
}

main .result-container .result .base .pulse:nth-child(2) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

main .result-container .result .base .pulse:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

main .result-container .result .base .pulse:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes pulse {
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@keyframes pulse {
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

main .result-container .result .base .chosen {
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  right: 50%;
  opacity: 0;
  -webkit-transform: translate(50%, 50%) scale(0.5);
          transform: translate(50%, 50%) scale(0.5);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

main .result-container .result .base .chosen.shown {
  opacity: 1;
  -webkit-transform: translate(50%, 50%) scale(1);
          transform: translate(50%, 50%) scale(1);
}

main .result-container .result .base .chosen .circle {
  position: absolute;
  background: white;
  inset: var(--button-border);
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: inset 2px 5px #0003;
          box-shadow: inset 2px 5px #0003;
}

main .result-container .result h2 {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin: 2em 0 1em;
}

main .result-container .you .chosen {
  background: var(--rock-gradient);
  -webkit-box-shadow: var(--rock-side);
          box-shadow: var(--rock-side);
}

main .result-container .house .chosen {
  background: var(--scissors-gradient);
  -webkit-box-shadow: var(--scissors-side);
          box-shadow: var(--scissors-side);
}

main .result-container .result-text {
  position: absolute;
  top: 105%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  pointer-events: none;
}

main .result-container .result-text h2 {
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  font-size: 3.5rem;
}

main .result-container .result-text button {
  border: none;
  width: 200px;
  margin-top: .3em;
  background: white;
  padding: 1em 0 1.2em;
  border-radius: .5em;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--dark-text);
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
}

main .result-container .result-text button:hover {
  color: #c90000;
}

@media (min-width: 800px) {
  :root {
    --button-size: 180px;
    --button-border: 22px;
    --triangle-size: 280px;
    --rock-side: 0 8px rgb(160, 1, 1);
    --paper-side: 0 8px rgb(48, 48, 187);
    --scissors-side: 0 8px rgb(170, 131, 34);
    --rock-side-result: 0 12px rgb(160, 1, 1);
    --paper-side-result: 0 12px rgb(48, 48, 187);
    --scissors-side-result: 0 12px rgb(170, 131, 34);
    --inner-shadow: inset 4px 8px #0003;
  }
  body main .head .mode p {
    font-size: 2.3rem;
    font-weight: 700;
  }
  body main .head .score-container h2 {
    font-size: 1rem;
  }
  body main .head .score-container .score {
    font-size: 4rem;
  }
  body main .rules {
    bottom: 30px;
    right: 30px;
    left: unset;
    -webkit-transform: unset;
            transform: unset;
  }
  body main .modal {
    background: #0007;
    -webkit-transform: unset;
            transform: unset;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  body main .modal .wrapper {
    background: white;
    padding: 2em;
    padding-bottom: 0;
    border-radius: 20px;
    position: relative;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  body main .modal .wrapper > img {
    grid-column: 1/-1;
  }
  body main .modal .wrapper h2 {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  body main .modal .wrapper #close {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    grid-column: 2/-1;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  body main .result-container {
    position: static;
  }
  body main .result-container .result {
    width: 45%;
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  body main .result-container .result h2 {
    font-size: 1.8rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0;
    margin-bottom: 3em;
  }
  body main .result-container .result .base .chosen {
    width: calc(var(--button-size) * 1.3);
    height: calc(var(--button-size) * 1.3);
  }
  body main .result-container .result .base .chosen .circle {
    inset: calc(var(--button-border) * 1.3);
  }
  body main .result-container .result .base .chosen .circle img {
    width: 80px;
  }
  body main .result-container .result-text {
    top: 50%;
  }
}
/*# sourceMappingURL=style.css.map */