@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Bebas+Neue&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

:root {
    --scissors-gradient: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --paper-gradient: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --rock-gradient: linear-gradient(to top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    --lizard-gradient: linear-gradient(to top, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    --cyan: linear-gradient(to top, hsl(189, 59%, 53%), hsl(189, 58%, 57%));

    --rock-side: 0 5px rgb(160, 1, 1);
    --paper-side: 0 5px rgb(48, 48, 187);
    --scissors-side: 0 5px rgb(170, 131, 34);

    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);
    --dark-blue: hsl(238, 40%, 17%);

    --main-bg: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));

    --button-size: 130px;
    --button-border: 15px;
    --triangle-size: 220px;
}

body {
    background: var(--main-bg);
    padding: 2em;
    position: relative;
    height: 100vh;
    overflow: hidden;

    button {
        -webkit-tap-highlight-color: transparent;
    }

    main {

        .head {
            width: 100%;
            border-radius: 7px;
            border: 3px solid var(--header-outline);
            padding: .8em;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .mode {
                list-style: none;
                
                p {
                    color: white;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    line-height: .8;
                }
            }

            .score-container {
                background: white;
                padding: .5em 1.5em;
                border-radius: 5px;
                position: relative;
                cursor: default;

                #reset {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background: rgb(209, 209, 209);
                    border: none;
                    top: 0;
                    right: 0;
                    transform: translate(50%, -50%);
                    padding: .2em;
                    font-size: .7rem;
                    border-radius: 50%;
                    color: var(--dark-text);
                    cursor: pointer;
                    transition: .2s ease;
                    opacity: 0;

                    &:focus {
                        opacity: 1;
                    }
                }

                &:hover #reset {
                    opacity: 1;
                }

                h2 {
                    font-size: .7rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: var(--score-text);
                    font-weight: 700;
                }

                .score {
                    font-weight: 800;
                    font-size: 4rem;
                    text-align: center;
                    display: block;
                    line-height: .8;
                    color: var(--dark-text);
                }
            }
        }

        .triangle {
            width: max-content;
            margin: 8em auto;
            position: relative;

            &>img {
                width: var(--triangle-size);
            }

            .container {
                position: absolute;

                button {
                    width: var(--button-size);
                    height: var(--button-size);
                    border-radius: 50%;
                    border: none;
                    cursor: pointer;
                    position: relative;
                    transition: transform .1s;

                    &:hover,
                    &:focus {
                        transform: scale(1.03);
                        outline: none;
                    }

                    .inner {
                        position: absolute;
                        inset: var(--button-border);
                        background: white;
                        border-radius: 50%;
                        display: grid;
                        place-items: center;
                        box-shadow: inset 2px 5px #0003;
                    }
                }
            }
            .paper-container {
                top: 0;
                left: 0;
                transform: translate(-40%, -40%);
                
                button {
                    background: var(--paper-gradient);
                    box-shadow: var(--paper-side);
                }
            }
            .scissors-container {
                top: 0;
                right: 0;
                transform: translate(40%, -40%);

                button {
                    background: var(--scissors-gradient);
                    box-shadow: var(--scissors-side);
                }
            }
            .rock-container {
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 30%);

                button {
                    background: var(--rock-gradient);
                    box-shadow: var(--rock-side);
                }
            }

        }
    }
}

main {
    .rules {
        padding: .4em 0;
        width: 100px;
        background: none;
        border: 2px solid white;
        color: white;
        text-transform: uppercase;
        border-radius: 8px;
        font-size: 1.2rem;
        opacity: .8;
        display: block;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        transition: background-color .2s ease;

        &:hover {
            background-color: #fff1;
        }
    }

    .modal {
        position: absolute;
        background: white;
        inset: 0;
        display: grid;
        place-items: center;
        padding: 2em 0;
        transition: transform .3s ease;
        transform: translateY(100%);

        h2 {
            text-transform: uppercase;
            font-size: 2rem;
            color: var(--dark-text);
        }

        #close {
            border: none;
            background: none;
            width: 30px;
            cursor: pointer;

            img {
                width: 100%;
            }
        }
    }
}

main {
    .result-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin: 7em 0;
        position: relative;

        .result {
            width: 40%;
            text-align: center;

            .base {
                width: calc(var(--button-size) - var(--button-border)*2);
                height: calc(var(--button-size) - var(--button-border)*2);
                background: var(--dark-blue);
                border-radius: 50%;
                margin: auto;
                position: relative;

                .chosen {
                    width: var(--button-size);
                    height: var(--button-size);
                    border-radius: 50%;
                    position: absolute;
                    bottom: 50%;
                    right: 50%;
                    transform: translate(50%, 50%) scale(0);
                    transition: transform .3s ease;

                    &.shown {
                        transform: translate(50%, 50%) scale(1);
                    }

                    .circle {
                        position: absolute;
                        background: white;
                        inset: var(--button-border);
                        border-radius: 50%;
                        display: grid;
                        place-items: center;
                        box-shadow: inset 2px 5px #0003;
                    }
                }
            }

            h2 {
                color: white;
                font-weight: 400;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 1px;
                word-spacing: 2px;
                margin-top: 2em;
            }
        }

        .you {
            .chosen {
                background: var(--rock-gradient);
                box-shadow: var(--rock-side);
            }
        }

        .house {
            .chosen {
                background: var(--scissors-gradient);
                box-shadow: var(--scissors-side);
            }
        }

        .result-text {
            position: absolute;
            top: 105%;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;
            text-align: center;
            opacity: 0;
            transition: opacity .3s ease;
            pointer-events: none;

            h2 {
                font-weight: 800;
                text-transform: uppercase;
                color: white;
                font-size: 3.5rem;
            }

            button {
                border: none;
                margin-top: .3em;
                background: white;
                padding: 1em 0 1.2em;
                width: 100%;
                border-radius: .5em;
                font-size: 1rem;
                text-transform: uppercase;
                color: var(--dark-text);
                letter-spacing: 2px;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}